@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== FONTS ==================== */
body {
  font-family: "PPNeueMachina-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
  margin: 0;
  padding: 0;
}

.logo-style-font {
  font-family: "lotter", serif !important;
}

.logo-style-font::after {
  content: "";
  color: #210BFF;
}

/* ==================== EDITOR LAYOUT ==================== */
  