@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "PPNeueMachina-Regular" !important;
}

.logo-style-font {
  font-family: "Harper" !important;
}
.logo-style-font:after{
  content: "";
  color:#210BFF;
}
.table-controls {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 4px 4px 4px 4px;
  background: #f1f1f1;
  border-radius: 10px;
}

.table-controls button {
  padding: 4;
  cursor: pointer;
}
.tbl-operator table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}

.tbl-operator td {
  padding: 8px;
  border: 1px solid #ccc;
  min-width: 100px;
}