@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "PPNeueMachina-Regular" !important;
}

.logo-style-font {
  font-family: "Harper" !important;
}
.logo-style-font:after{
  content: "";
  color:#210BFF;
}
.table-controls {
  position: relative;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2px;
  padding: 4;
  background: #f1f1f1;
  border-radius: 10%;
}

.table-controls button {
  padding: 4;
  cursor: pointer;
}
.tbl-operator table {
  border-collapse: collapse;
  width: 100%;
}

.tbl-operator td {
  padding: 8px;
  border: 1px solid #ccc;
  min-width: 100px;
}